<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cz.blogtwo.mapper.MomentMapper">
    <resultMap id="moment" type="com.cz.blogtwo.entity.Moment">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="likes" column="likes"/>
        <result property="published" column="is_published"/>
    </resultMap>
    <insert id="InsertMoment">
        insert into moment(content, create_time, likes, is_published)
            value
            (#{content},#{createTime},#{likes},#{published})
    </insert>
    <update id="updateMoment">
        update
            moment
        set
            content=#{content},create_time=#{createTime},likes=#{likes},is_published=#{published}
        where
              id=#{id}

    </update>
    <delete id="deleteMomentById" parameterType="java.lang.String">
        delete  from moment where id=#{id}
    </delete>


    <select id="getMomentList" resultMap="moment">
        select id, content, create_time, likes, is_published
        from moment
        order by create_time desc
    </select>

    <!--给动态点赞-->
    <update id="addLikeByMomentId">
        update moment set likes=likes+1 where id=#{momentId}
    </update>
    <select id="getMomentById" resultMap="moment">
        select id, content, create_time, likes, is_published
        from moment
        where id = #{id}
    </select>
</mapper>
